/* header section */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
header{
    background-color: whitesmoke;
}
.navbar{
    background: whitesmoke;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .logo{
    font-size: 20px;
    font-weight: bold;
 }
 .links{
    display: flex;
    list-style: none;
    gap: 25px;
 }
 .links li{
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-size: 15px;
 }
 .links li:hover{
    color: blue;
 }
 .btn{
    background-color: rgb(59, 130, 246);
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
 }

 /* hero section */
 .hero{
    width: 100%;
    height:500px;
    background-image: url(assets/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
     text-align: center; 
    color: white;
    position: relative;
    padding-bottom: 50px;
    padding-right: 40px;
    gap: 35px;

 }
 .hero::after{
   content:"" ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.1) 100%);
 }
 .hero-content{
    position: relative;
    /* padding: 0 20px;  */
    width: 420px;
    color: white;
    z-index: 2;
    text-align:center ; 
 }
 .hero-content h1{
    font-size: 36px;
   font-weight: bold;
    margin-bottom: 8px;
    /* line-height: 20px;  */
    text-shadow: 2px 2px 5px black;
    margin-top: 50px;
    
    
 }
 .hero-content p{
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 18px;
    text-shadow: 1px 1px 3px black;
    font-weight:400;
    
 }
 .btn-1{
    background-color: #2563eb;
    color: white;
    padding: 14px 35px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;    
    margin-top: 160px;   
 }
 .btn:hover{
    background-color: #1d4ed8;
 }

/* speakers section */

.speakers-section h2{
   text-align: center;
   font-size: 36px;
   font-weight: bold;
   color: #222;
   margin-bottom: 50px;
}

.speakers-section{
   width: 90%;
   max-width: 1100px;
   margin: 80px auto;
   background-color: #fff;
}
.section-title{
   text-align: center;
   font-size: 36px;
   font-weight: bold;
   color: #222;
   margin-bottom: 50px;
}
.speakers-grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 30px;
}
.speaker-card{
   text-align: left;
   border: 1px splid #e5e5e5;
   border-radius: 12px;
   padding: 0;
   background: #e5e1e1;
   overflow: hidden;
}
.speaker-card img{
   width: 100%;
   height: 240px;
   object-fit: cover;
   border-radius: 12px 12px 0 0;
   margin-bottom: 15px;
}
.speaker-card .category{
   color: #3b82f6;
   font-size: 11px;
   font-weight: bold;
   letter-spacing: 1px;
    margin-bottom: 6px; 
   padding: 16px 20px 8px 20px;
   text-transform: uppercase;
   line-height: 1.5;
}
.speaker-card h3{
   font-size: 18px;
   font-weight: bold;
   color: #111;
   margin-bottom: 6px;
   padding: 0 20px;
   line-height: 1.5;
}
.speaker-card .role{
   font-size: 13px;
   color: #666;
   line-height: 1.5;
   padding: 0 20px 20px 20px;
}

/* card section */
.pricing-section{
   text-align: center;
   padding: 0px 20px;
   max-width: 1200px;
   margin: 100px auto;
   /* background: #f8f9fa; */
}

.pricing-section-1{
   text-align: center;
   padding: 0px 20px;
   max-width: 1200px;
   margin: 100px auto;
}

.pricing-section-1 h2{
   font-size: 40px;
   font-weight: 700;
   margin-bottom: 8px;
}
.pricing-section-1 .subtitle{
   color: #666;
   margin-bottom: 50px;
   font-size: 15px;
}
.pricing-grid{
   display: grid;
   grid-template-columns: 1fr 1.1fr 1fr;
   gap: 30px;
    max-width: 1100px;
   margin: 0 auto; 
   align-items: stretch;
}
.pricing-card{
   background: #fff;
   border: 1px solid #eee;
   border-radius: 12px;
   padding: 40px 30px;
   text-align: left;
   display: flex;
   flex-direction: column; 
}
.pricing-card-2{
   background: #0a0a0a;
   border-radius: 12px;
   color: #fff; 
   border: none;
   transform: scale(1.05);
   padding: 40px 30px;
    transform: none;
   margin-top: 0; 
   text-align: left; 
}
.pricing-card .plan{
   font-size: 12px;
   font-weight: 600;
   letter-spacing: 1px;
   color: #3b9ed3;
   margin-bottom: 15px;
}

.pricing-card-2 .plan{
   font-size: 12px;
   font-weight: 600;
   letter-spacing: 1px;
   color: #3b9ed3;
   margin-bottom: 15px;
}

.pricing-card-2 .plan{
   color: #3b9ed3;
}
.pricing-card h3{
   font-size: 42px;
   font-weight: 700;
   margin: 0 0 5px 0;
}
.pricing-card-2 h3{
   font-size: 42px;
   font-weight: 700;
   margin: 0 0 5px 0;
}
.pricing-card .per{
   font-size: 13px;
   color: #3b9ed3;
   margin-bottom: 20px;
}
.pricing-card-2 .per{
   font-size: 13px;
   color: #3b9ed3;
   margin-bottom: 20px;
}
.pricing-card ul{
   list-style: none; 
   padding: 0;
   margin: 0 0 30px 0;
   /* margin-bottom: 30px; */
   /* flex-grow: 1; */
}
.pricing-card ul li{
   font-size: 14px;
   margin-bottom: 12px;
   padding-left: 22px;
   position: relative;
   margin-bottom: 10px;
   line-height: 1.6;
   /* margin: 0 0 10px 0; */
}
.pricing-card ul li::before{
   content: "";
   height: 6px;
   width: 6px;
   background: #3b9ed3;
   border-radius: 50%;
   position: absolute;
   font-size: 25px;
   top: 8px;
   left: 0;
}

.pricing-card-2 ul{
   list-style: none; 
   padding: 0;
   margin: 0 0 30px 0;
}
.pricing-card-2 ul li{
   font-size: 14px;
   margin-bottom: 12px;
   padding-left: 22px;
   position: relative;
   margin-bottom: 10px;
   line-height: 1.6;
}
.pricing-card-2 ul li::before{
   content: "";
   height: 6px;
   width: 6px;
   background: #3b9ed3;
   border-radius: 50%;
   position: absolute;
   font-size: 25px;
   top: 8px;
   left: 0;
}

.btn-2 {
   width: 100%;
   padding: 12px;
   border: 1px solid #3b9ed3;
   color: #3b9ed3;
   background: transparent;
   margin-top: auto;
   border-radius: 8px;
   font-weight: 600;
   cursor: pointer;
}
.btn-4{
width: 100%;
   padding: 12px;
   border: 1px solid #757373;
   color: #222;
   background: transparent;
   margin-top: auto;
   border-radius: 8px;
   font-weight: 600;
   cursor: pointer;
}
.btn-3{
   width: 100%;
   padding: 12px;
   border-radius: 8px;
   font-weight: 600;
   cursor: pointer;
   border: none;
   background: #2563eb;
   color: #fff;
   margin-top: 140px;
}
.ai-section{
   max-width: 1200px;
   background: #f8f6f6;
   margin: 70px auto;
   border-radius: 10px;
   padding: 55px;
   text-align: center;
}
.ai-section p{
   margin: 10px 0;
}
.ai-section-2{
   display: flex;
   justify-content: space-between;
   gap: 8px;
}
.ai-section h2{
     font-size: 36px;
   font-weight: bold;
    margin-bottom: 8px;
    /* line-height: 20px;  */
    margin-top: 50px;
    
}
.ai-section .highlight{
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 30px;
   margin-top: 50px;   
}
.ai-section-2 .box{
   background-color:rgb(205, 205, 205);
   padding: 5px;
   border-radius: 5px;
}

.footer{
   background-color: #2d3748;
   color: #a0aec0;
   padding: 20px 40px;
   font-size: 14px;
}
.footer-container{
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
  

}
.footer-left{
   margin: 0;
}
.footer-right{
   display: flex;

}
.footer-right p{
   color: #a0aec0;
   text-decoration: none;
   margin-left: 20px;
   transition: color 0.3 ease;
   justify-content: space-between;
}


.footer-right p:hover{
   color: #959595;
}